/// wordpress navigation

.main-navigation {

	display: block;
	width: 100%;

	/// default link styles

	a {
		
		margin:0;
		padding:map-get( $padding, "xs" ) map-get( $padding, "sm" ) 12px map-get( $padding, "sm" );
		color:$black;
		text-decoration:none;
		display:block;
		background-color:$white;
		line-height:16px;
		@include x-transition( background-color );
		@include on-event {
			
			text-decoration:underline;
			background-color:$black;
			color:$white;

		}
	
	}

	> div {

		@include center-block;
		width:100%;
		max-width:map-get( $containers, "xl" );

	}

	/// toggle button
	
	.menu-toggle { cursor:pointer; }

	ul {

		display:none;
		@include reset-list;
		flex-wrap:wrap;
		justify-content:space-between;

		ul {

			position: absolute;
			float: left;
			top: 100%;
			left: -999em;
			z-index: 99999;
			@include dropshadow;

			ul {

				left: -999em;
				top: 0;

			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			/*a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}*/
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
			display:block;
		}

	}

	li {

		position: relative;
		@include reset-list;

		/*&:hover > a,
		&.focus > a {
		}*/
	}

	/*a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}*/
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and ( min-width: map-get( $breakpoints, "lg" ) ) {

	.menu-toggle { display: none; }
	.main-navigation > div > ul {
		display:flex;
		justify-content:space-between;
		> li > a { background-color:#ff0000; }
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
